includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    doctrine:
        objectManagerLoader: phpstan/doctrine-orm-bootstrap.php
