<h2>{% trans %}lostPassword.email.hello{% endtrans %}</h2>
<br>
{% trans %}lostPassword.email.content{% endtrans %}
<br><br>
<strong>
    {{ app.request.getSchemeAndHttpHost() }}{{ path('app_new_password', {'hash': passwordResetHash}) }}
</strong>
<br><br>
